*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 63px;
    /*background: red;*/
}
.head{
    width: 100%;
    height: 63px;
    /*background: greenyellow;*/
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #e5e5e5;
}
.head_left{
    width: 207px;
    height: 63px;
    background: url("../img/word.png") no-repeat center;
    background-size: 128px 43px;
    margin-left: 40px;
}
.head_right{
    width:500px;
    height: 63px;
    /*background: cyan;*/
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-size: 12px;
    color: #999999;
    float: left;
    margin-right: 61px;
}
a:nth-child(4){
    color: #4bb344;
}
a:last-child{
    margin-right: 0;
}
a:hover {
    color: #4bb344;
    cursor: pointer;
}
section{
    width: 100%;
    height: 815px;
}
.nav1{
    width: 215px;
    height: 42px;
    background: #999999;
    color: white;
    font-size: 12px;
    line-height: 42px;
    margin-top: 59px;
    border: 1px solid #e2e2e2;
    margin-left: 120px;
    padding-left: 15px;
    float: left;
}
.nav2{
    font-size: 8px;
    color: white;
    margin-right: 12px;
    float:right;
}
.frame{
    width: 828px;
    height: 734px;
    /*background: #555555;*/
    float:left;
    margin-top: 59px;
    margin-left: 50px;
    border: 1px solid #999999;
}
.area{
    width: 828px;
    height: 86px;
    /*background: greenyellow;*/
    overflow: hidden;
}
.massage{
    font-size: 18px;
    color: #333;
    margin-top: 29px;
    margin-left: 30px;
}
.data{
    font-size: 11px;
    color: #a9a9a9;
    margin-left: 30px;
}
.piont{
    font-size: 1px;
    color: #a9a9a9;
    margin-left: 30px;
}
.image{
    width: 828px;
    height: 71px;
    /*background: greenyellow;*/
    margin-top: 9px;
    overflow: hidden;
}
.company{
    width: 149px;
    height: 37px;
    margin-left: 30px;
    margin-top: 17px;
    float: left;
}
.branch{
    font-size: 13px;
    color: #333;
}
span{
    color: #000 ;
    font-size:15px;
    font-weight: bold;
}
.address{
    font-size: 13px;
    color: #333;
    margin-top: 4px;
}
.post{
    width: 180px;
    height: 38px;
    margin-left: 425px;
    margin-top: 17px;
}
.shengchan{
    font-size: 14px;
    color: #333;
}
.num{
    font-size: 14px;
    color: #333;
}
.position{
    width: 216px;
    height: 54px;
    margin-left: 30px;
}
.summary{
    font-size: 13px;
    color: #333;
}
.job{
    font-size: 12px;
    color: #808080;
    margin-top: 10px;
}
.speak{
    width: 828px;
    height: 155px;
    /*background: #555555;*/
    margin-top: 10px;
}
.table{
    font-size: 13px;
    color: #333;
    margin-left: 30px;
}
.content{
    font-size: 12px;
    color: #808080;
    margin-left: 30px;
    margin-top: 7px;
}
.speak_up{
    margin-top: 36px;
}
.apply{
    width: 142px;
    height: 43px;
    background: #4bb344;
    margin-top: 43px;
    margin-left: 30px;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 43px;
    border: 1px solid #4bb344;
}
.apply:hover{
    background: white;
    color: #4bb344;
    cursor: pointer;
}
/*底部开始*/
footer{
    width: 100%;
    height: 254px;
    background: #f0f0f0;
    margin-top: 100px;
    overflow: hidden;
}
.base{
    width: 797px;
    height: 254px;
    margin: 0 auto;
}
.base_top{
    width: 797px;
    height: 138px;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}
.base_box{
    width: 181px;
    height: 138px;
}
h3{
    font-size: 13px;
    color:#333;
    font-weight:normal;
}
.content_2{
    font-size: 12px;
    color: #a9a9a9;
    margin-left: 0;
    margin-top: 47px;
}
.content1{
    font-size: 12px;
    color:#a9a9a9 ;
}
.content2:hover{
    color: lime;
    cursor: pointer;
}
.code{
    width: 76px;
    height: 76px;
    background: url("../img/erweima.jpg") no-repeat center;
    background-size: 76px 76px;
    margin-top: 30px;
}
.base_bottom{
    height: 16px;
    font-size: 12px;
    color: #808080;
    margin-top: 43px;
    text-align: center;
}