*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 63px;
    /*background: red;*/
}
.head{
    width:100%;
    height: 63px;
    /*background: greenyellow;*/
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #e5e5e5;
}
.head_left{
    width: 207px;
    height: 63px;
    background: url("../img/word.png") no-repeat center;
    background-size: 128px 43px;
    margin-left: 40px;
}
.head_right{
    width:500px;
    height: 63px;
    /*background: cyan;*/
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-size: 12px;
    color: #999999;
    float: left;
    margin-right: 61px;
}
a:nth-child(3){
    color: #4bb344;
}
a:last-child{
    margin-right: 0;
}
a:hover {
    color: #4bb344;
    cursor: pointer;
}
/*新闻中心开始*/
section{
    width: 100%;
    height:1600px;
    /*background: lime;*/
    overflow: hidden;
}
.nav{
    width: 230px;
    height: 126px;
    /*background: yellow;*/
    margin-top: 59px;
    margin-left: 120px;
    border: 1px solid #dddddd;
    float: left;
}
.nav1{
    width: 215px;
    height: 42px;
    background: #999999;
    color: white;
    font-size: 12px;
    line-height: 42px;
    padding-left: 15px;
}
.nav2{
    font-size: 8px;
    color: white;
    margin-right: 12px;
    float:right;
}
.nav3{
    width: 215px;
    height: 42px;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
    line-height: 42px;
    color: #999999;
    padding-left: 15px;
}
.nav3:hover{
    color: #4bb344;
    cursor: pointer;
}
.nav4{
    border-bottom:0;
}
.new{
    width: 802px;
    height: 100px;
    background: greenyellow;
    float:right;
    margin-right: 142px;
    margin-top: 59px;
    background: url("../img/zicai.jpg") no-repeat;
    background-size: 160px 100px;
}
.new:hover .save{
    color: #4bb344;
    cursor: pointer;
}
.save{
    font-size: 15px;
    color: #000;
    margin-left: 189px;
}
.data{
    font-size: 11px;
    color: #afafaf;
    margin-left: 189px;
    margin-top: 15px;
}
.concent{
    width: 623px;
    height: 44px;
    font-size: 11px;
    color: #afafaf;
    margin-top: 12px;
    margin-left: 189px;
    line-height: 20px;
}
.new1{
    background: url("../img/apple.png") no-repeat;
}
.new2{
    background: url("../img/yuancai.jpg") no-repeat;
}
.new3{
    background: url("../img/banana.jpg") no-repeat;
}
.new4{
    background: url("../img/putao.jpg") no-repeat;
}
.new5{
    background: url("../img/caoping.jpg") no-repeat;
}
.new6{
    background: url("../img/caoping (1).jpg") no-repeat;
}
.new7{
    background: url("../img/niu.jpg") no-repeat;
}
.new8{
    background: url("../img/tuolaji.jpg") no-repeat;
}
div>.color{
    color: #afafaf;
}
/*新闻中心结束*/
/*底部开始*/
footer{
    width: 100%;
    height: 254px;
    background: #f0f0f0;
    margin-top: 203px;
}
.base{
    width: 797px;
    height: 254px;
    margin: 0 auto;
}
.base_top{
    width: 797px;
    height: 138px;
    display: flex;
    justify-content: space-between;
}
.base_box{
    width: 181px;
    height: 138px;
    margin-top: 46px;
}
h3{
    font-size: 13px;
    color:#333;
    font-weight:normal;
}
.content{
    font-size: 12px;
    color: #a9a9a9;
    margin-top: 47px;
}
.content1{
    font-size: 12px;
    color:#a9a9a9 ;
}
.content2:hover{
    color: lime;
    cursor: pointer;
}
.code{
    width: 76px;
    height: 76px;
    background: url("../img/erweima.jpg") no-repeat center;
    background-size: 76px 76px;
    margin-top: 30px;
}
.base_bottom{
    height: 16px;
    font-size: 12px;
    color: #808080;
    margin-top: 73px;
    text-align: center;
}
/*底部结束*/